body
{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
}
.flex
{
    display: flex;
}
body.flex
{
    justify-content: center;
    align-items: center;
}
.outer
{
    width: 50%;
    height: 80%;
    min-width: 300px;
    min-height: 500px;
    background-color: rgb(188, 207, 231);
    align-items: center;
    flex-direction: column;
    gap: 2%;
    border-radius: 10px;
}
.name
{
    background-color: black;
    width: 95%;
    height: 10%;
    margin-top: 5%;
    font-size: 1.4rem;
    color: blanchedalmond;
    justify-content: center;
    align-items: center;
}
.value
{
    width: 93%;
    height: 14%;
    background-color: rgb(252, 252, 252);
    font-size: 3rem;
    flex-direction: row-reverse;
    border-left: 5px solid rgb(255, 255, 255);
    border-right:5px solid rgb(255, 255, 255);
    align-items:center;
}
.keys
{
    width: 95%;
    height: 60%;
    background-color: white;
    flex-wrap: wrap;
}
.keys > div{
    height: 20%;
    flex: 24%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 4rem;
    font-size: 150%;
    border: 1px solid rgb(161, 150, 150);
}
.keys>div:nth-child(17)
{
    flex: 49%;
}
.keys>div:nth-child(4)
{
    background-color: oldlace;
    color: slategray;
}
.keys>div:nth-child(8)
{
    background-color: oldlace;
    color: slategray;
}
.keys>div:nth-child(12)
{
    background-color: oldlace;
    color: slategray;
}
.keys>div:nth-child(16)
{
    background-color: oldlace;
    color: slategray;
}
.keys>div:nth-child(19)
{
    background-color: oldlace;
    color: slategray;
}
.keys>div:hover
{
    background-color: rgb(243, 194, 109);
}